{{ 'discount-coupon.css' | asset_url | stylesheet_tag }}

 <div class="container">
   <div class="coupon-card">
      <h3>ENJOY YOUR GIFT</h3>
                <di class="coupon-row">
                    <span id="cpnCode">STEALDEAL20</span>
                    <span id="cpnBtn">Copy Code</span>
                </di>
                <p>Valid Till: 20Dec, 2021</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
</div>