{{ 'discount-coupon.css' | asset_url | stylesheet_tag }}
<script src ="{{ 'discount-coupon.js' | asset_url }}" defer></script>

<div class="discount-coupon-container">
   <div class="discount-coupon-card">
      <h3>ENJOY YOUR GIFT</h3>
      <div class="discount-coupon-row">
         <span class= "discount-coupon-copy-code" id="cpnCode">{{ product.selected_or_first_available_variant.metafields.custom.discount_coupon }}</span>
         <span class="discount-coupon-copy-btn" id="cpnBtn">Copy&nbsp;Code</span>
      </div>
      <p>Valid Till: 20Dec, 2021</p>
      <div class="discount-coupon-circle1"></div>
      <div class="discount-coupon-circle2"></div>
   </div>
</div>
