.discount-coupon-container {
  width: 100%;
  background: #f0fff3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.discount-coupon-card {
  background: linear-gradient(135deg, yellow, #9d4de6);
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.logo {
  width: 80px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.discount-coupon-card h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.discount-coupon-card p {
  font-size: 15px;
}
.discount-coupon-row {
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: fit-content;
}
.discount-coupon-copy-code {
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;
}
.discount-coupon-copy-btn {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  color: #7158fe;
  cursor: pointer;
}
.discount-coupon-card .discount-coupon-circle1,
.discount-coupon-card .discount-coupon-circle2 {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: block;
}
.discount-coupon-circle1 {
  left: -25px;
}
.discount-coupon-circle2 {
  right: -25px;
}
