.header-account-popup--wrapper {
  background-color: red;
}

.header-account-popup--wrapper button {
  background-color: transparent;
  border: none;
  width: 100%;
}

.header-account-popup--wrapper button a {
  text-decoration: none;
}

.icon.icon-account:hover .header-account-popup--wrapper {
  display: none;
}
