.header-account-popup {
  position: relative;
}

.header-account-popup--wrapper {
  position: absolute;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  display: none;
}

.header-account-popup--wrapper button {
  background-color: transparent;
  border: none;
  width: 100%;
}

.header-account-popup--wrapper button a {
  text-decoration: none;
  color: #000;
}

.header-account-popup:hover .header-account-popup--wrapper {
  display: block;
}
