.header-account-popup {
  background: pink;
}

.header-account-popup--wrapper {
  background-color: red;
}

.header-account-popup--wrapper button {
  background-color: transparent;
  border: none;
  width: 100%;
}

.header-account-popup--wrapper button a {
  text-decoration: none;
  color: white;
}

.header-account-popup--icon:hover .header-account-popup--wrapper {
  color: red;
}
